<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Práctica</title>
        <meta charset="UTF-8"/>
        <link href="css/estilos1.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>Listado de Estados</h1>
        
        <a th:href="@{/nuevoEstado}" class="btn">Nuevo Estado</a>
        <div th:if="${estados !=null and !estados.empty}">
        <table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Capital</th>
                    <th>Población</th>
                    <th>Posee Costas</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="estado : ${estados}">
                    <td th:text="${estado.nombre}"></td>
                    <td th:text="${estado.capital}"></td>
                    <td th:text="${estado.poblacion}"></td>
                    <td th:text="${estado.poseeCostas} ? 'Posee' : 'No Posee'"></td>
                    <td><a th:href="@{/eliminarEstado/} + ${estado.idEstado}">Eliminar</a> </td>
                    <td><a th:href="@{/modificarEstado/} + ${estado.idEstado}">Modificar</a> </td>
                </tr>
            </tbody>
        </table>
        </div>
        
        <div th:if="${estados ==null or estados.empty}">
            No tenemos lista de estados que mostrar...
        </div>

    </body>
</html>
